ADF/pipeline/5_PL_SQL_IncrementalLoad_Dynamic.json
{
	"name": "5_PL_SQL_IncrementalLoad_Dynamic",
	"properties": {
		"activities": [
			{
				"name": "LKP_OldWatermarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select TableName, Watermarkvalue as Old_WatermarkValue from [dbo].[watermarktable] where TableName = '@{pipeline().parameters.TableName}';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Watermark_PranabDatabase2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LKP_NewWatermarkValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(@{pipeline().parameters.WatermarkColumn}) as New_WatermarkValue from @{pipeline().parameters.TableName}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Orders_PranabDatabase1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LKP_OldWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LKP_NewWatermarkValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.TableName} where @{pipeline().parameters.WatermarkColumn} >'@{activity('LKP_OldWatermarkValue').output.firstRow.Old_WatermarkValue}' and @{pipeline().parameters.WatermarkColumn} <='@{activity('LKP_NewWatermarkValue').output.firstRow.New_WatermarkValue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Orders_PranabDatabase1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DynamicTable_PranabDatabase2",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Watermark Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spSetWatermark]",
					"storedProcedureParameters": {
						"NewTime": {
							"value": {
								"value": "@activity('LKP_NewWatermarkValue').output.firstRow.New_WatermarkValue",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@activity('LKP_OldWatermarkValue').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQLDatabase2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "orders"
			},
			"WatermarkColumn": {
				"type": "string",
				"defaultValue": "InsertDateTime"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-09T14:31:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}